.textTitle{
    padding-left: 10px;
}
main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
span{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:2px solid black;
    border-radius: 20px;
    width: 60%;
}
.id{
    position: relative;
    bottom: 30px;
    left: 75px;
    margin: 8px;
    border:solid black;
    border-radius: 20px;
    padding: 10px;
}
.name{
    margin: 0;
}
.imgPokemon{
    width: 100px;
}
.types{
    display: flex;
    gap: 1rem;
    padding: 1rem
}
.type{
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
}
.type.fire{
    background-color: red;
}
.type.normal{
    background-color: gray;
}
.type.flying{
    background-color: cadetblue;
}
.type.bug{
    background-color: green;
}
.type.poison{
    background-color: purple;
}
.type.ground{
    background-color: burlywood
}
.type.water{
    background-color: blue;
}
.type.grass{
    background-color: greenyellow;
}
.type.fighting{
    background-color: brown;
}
.type.dragon{
    background-color: rebeccapurple;
}
.type.electric{
    background-color: gold;
}
.type.ghost{
    background-color: mediumslateblue;
}
.type.ice{
    background-color: aquamarine;
}
.type.psychic{
    background-color: palevioletred;
}
.type.steel{
    background-color: darkgray;
}
.type.rock{
    background-color: saddlebrown;
}
.type.dark{
    background-color: darkslategray;
}
.type.fairy{
    background-color: pink;
}
